<h1><%= @trip.name %></h1>
<p><%= "#{@trip.start_date} to #{@trip.end_date}" %></p>
<p>Description: <%= @trip.description %></p>
<p>Events:</p>
<% @trip.events.each do |event| %>
	<p><%= link_to "#{event.name}", user_trip_event_path(event.trip, event) %></p>
<% end %>

<p><%= link_to 'Add New Event', new_user_trip_event_path(@trip.user, @trip) %></p>