<h1><%= @trip.name %></h1>
<p><%= "#{@trip.start_date} to #{@trip.end_date}" %></p>
<p>Description: <%= @trip.description %></p>
<p>Events:</p>
<ul>
<% @trip.events.each do |event| %>
	<li><%= render partial: 'events/show', layout: false, locals: { event: @event } %></li>
<% end %>
</ul>

<p><%= link_to 'Add New Event', new_user_trip_event_path(@trip.user, @trip) %></p>